version: '3.8'

services:
  yunge_cinema:
    build:
      context: .
      dockerfile: Dockerfile
      # 构建时传入服务器的公网 IP 或域名
      args:
        WS_URL: "ws://localhost:80" 
    container_name: Sync-Cinema-yunge
    restart: always
    ports:
      - "80:80" # 宿主机80 -> 容器内80
    environment:
      # 后端环境变量,生产环境请修改为安全的值
      - SYNC_PASSWORD=default
      - ADMIN_PASSWORD=admin_control
    volumes:
      # 挂载视频目录
      - ./server/videos:/app/server/videos